In [1]:
"""***************************** 17th feb'23 Assignment *****************************"""

"***************************** 17th feb'23 Assignment *****************************"

In [ ]:
"""Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred 
        to use MongoDB over SQL databases?"""

Ans.
    MongoDB is a non-relational document database that provides support for JSON-like storage.
    The MongoDB database has a flexible data model that enables you to store unstructured data, 
    and it provides full indexing support, and replication with rich and intuitive APIs.
    
    A non-relational database is a database that does not use the tabular schema of
    rows and columns found in most traditional database systems.
    
    MongoDB is faster and more scalable. While the SQL server supports JOIN and Global transactions,
    MongoDB does not. The MS SQL server does not accommodate large amounts of data, however MongoDB does.

In [ ]:
"""Q2. State and Explain the features of MongoDB?"""

Ans.
1. Support ad hoc queries: In MongoDB, you can search by field, range query and it also
                            supports regular expression searches.
2. Indexing: You can index any field in a document.
3. Replication: MongoDB supports Master Slave replication.
                A master can perform Reads and Writes and a Slave copies data from the master
                and can only be used for reads or back up (not writes).
4. Duplication of data: MongoDB can run over multiple servers. The data is duplicated to keep 
                        the system up and also keep its running condition in case of hardware failure.
5. Load balancing: It has an automatic load balancing configuration because of data placed in shards.

In [7]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 14.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [15]:
"""Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB?"""

#Ans.
import pymongo
client = pymongo.MongoClient("mongodb+srv://trimalrao2004:trimal90020@cluster0.zcl9nfh.mongodb.net/?retryWrites=true&w=majority")
db = client.test

db=client['PWskills']
data = {"name":"Trimal",
       "college":"NIST",
       "year":"2nd year"}
coll_pwskill = db["my_record"]

In [16]:
"""Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record?"""

#Ans.

# insert One record
data = {"name":"Trimal",
       "college":"NIST",
       "year":"2nd year"}
coll_pwskill = db["my_record"]
coll_pwskill.insert_one(data)

In [17]:
# 3inseert many record
data2=[{"Name":"Trimal"},{"Name":"Avinash"},{"Name":"Sai ashish"},{"Name":"Pawan"},{"Name":"Kartik"},{"Name":"Sagar"},{"Name":"Raka"},
       {"Name":"Divijay"},{"Name":"Ayush"},{"Name":"Rohit"},{"Name":"Suresh"},{"Name":"Subham"},
       {"Name":"Siba"},{"Name":"Sunil"},{"Name":"Paresh"},{"Name":"Vishal"},{"Name":"Bhola"}]
coll_pwskill.insert_many(data2)

In [14]:
#find()
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('646642a129c63e5fbf2ba1a3'), 'name': 'Trimal', 'college': 'NIST', 'year': '2nd year'}
{'_id': ObjectId('6466438929c63e5fbf2ba1a4'), 'skill': 'Data Science', 'mail': 'trimal234@gmail.com', 'phone no.': 9876543210}
{'_id': ObjectId('646645da29c63e5fbf2ba1a5'), 'Name': 'Trimal'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a6'), 'Name': 'Avinash'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a7'), 'Name': 'Sai ashish'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a8'), 'Name': 'Pawan'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a9'), 'Name': 'Kartik'}
{'_id': ObjectId('646645da29c63e5fbf2ba1aa'), 'Name': 'Sagar'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ab'), 'Name': 'Raka'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ac'), 'Name': 'Divijay'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ad'), 'Name': 'Ayush'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ae'), 'Name': 'Rohit'}
{'_id': ObjectId('646645da29c63e5fbf2ba1af'), 'Name': 'Suresh'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b0'), 'Name': 'Subham'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b1'), 'Name': 'Siba'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b2'), 'Name': 'Sunil'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b3'), 'Name': 'Paresh'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b4'), 'Name': 'Vishal'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b5'), 'Name': 'Bhola'}
{'_id': ObjectId('6466472d29c63e5fbf2ba1b6'), 'Name': 'Trimal', 'D.O.B': 0.007984031936127744, 'certificates': [{'10th': 'HSE'}, {'12th': 'CHSE'}, {'Degree': 'BPUT'}]}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b7'), 'id': 101, 'name': 'Shree sir', 'rating': '9.4'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b8'), 'id': 102, 'name': 'P.K jena', 'rating': '9.6 * '}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b9'), 'id': 103, 'name': 'Swatanjali', 'rating': '9.1'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1ba'), 'id': 104, 'name': 'Manjusri', 'rating': '7.3'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1bb'), 'id': 105, 'name': 'pranya', 'rating': '6.9'}
{'_id': ObjectId('646a13e0941afe877e8694d1'), 'name': 'Trimal', 'college': 'NIST', 'year': '2nd year'}
{'_id': ObjectId('646a1406941afe877e8694d2'), 'Name': 'Trimal'}
{'_id': ObjectId('646a1406941afe877e8694d3'), 'Name': 'Avinash'}
{'_id': ObjectId('646a1406941afe877e8694d4'), 'Name': 'Sai ashish'}
{'_id': ObjectId('646a1406941afe877e8694d5'), 'Name': 'Pawan'}
{'_id': ObjectId('646a1406941afe877e8694d6'), 'Name': 'Kartik'}
{'_id': ObjectId('646a1406941afe877e8694d7'), 'Name': 'Sagar'}
{'_id': ObjectId('646a1406941afe877e8694d8'), 'Name': 'Raka'}
{'_id': ObjectId('646a1406941afe877e8694d9'), 'Name': 'Divijay'}
{'_id': ObjectId('646a1406941afe877e8694da'), 'Name': 'Ayush'}
{'_id': ObjectId('646a1406941afe877e8694db'), 'Name': 'Rohit'}
{'_id': ObjectId('646a1406941afe877e8694dc'), 'Name': 'Suresh'}
{'_id': ObjectId('646a1406941afe877e8694dd'), 'Name': 'Subham'}
{'_id': ObjectId('646a1406941afe877e8694de'), 'Name': 'Siba'}
{'_id': ObjectId('646a1406941afe877e8694df'), 'Name': 'Sunil'}
{'_id': ObjectId('646a1406941afe877e8694e0'), 'Name': 'Paresh'}
{'_id': ObjectId('646a1406941afe877e8694e1'), 'Name': 'Vishal'}
{'_id': ObjectId('646a1406941afe877e8694e2'), 'Name': 'Bhola'}
{'_id': ObjectId('646a146f941afe877e8694e4'), 'name': 'Trimal', 'college': 'NIST', 'year': '2nd year'}
{'_id': ObjectId('646a1473941afe877e8694e5'), 'Name': 'Trimal'}
{'_id': ObjectId('646a1473941afe877e8694e6'), 'Name': 'Avinash'}
{'_id': ObjectId('646a1473941afe877e8694e7'), 'Name': 'Sai ashish'}
{'_id': ObjectId('646a1473941afe877e8694e8'), 'Name': 'Pawan'}
{'_id': ObjectId('646a1473941afe877e8694e9'), 'Name': 'Kartik'}
{'_id': ObjectId('646a1473941afe877e8694ea'), 'Name': 'Sagar'}
{'_id': ObjectId('646a1473941afe877e8694eb'), 'Name': 'Raka'}
{'_id': ObjectId('646a1473941afe877e8694ec'), 'Name': 'Divijay'}
{'_id': ObjectId('646a1473941afe877e8694ed'), 'Name': 'Ayush'}
{'_id': ObjectId('646a1473941afe877e8694ee'), 'Name': 'Rohit'}
{'_id': ObjectId('646a1473941afe877e8694ef'), 'Name': 'Suresh'}
{'_id': ObjectId('646a1473941afe877e8694f0'), 'Name': 'Subham'}
{'_id': ObjectId('646a1473941afe877e8694f1'), 'Name': 'Siba'}
{'_id': ObjectId('646a1473941afe877e8694f2'), 'Name': 'Sunil'}
{'_id': ObjectId('646a1473941afe877e8694f3'), 'Name': 'Paresh'}
{'_id': ObjectId('646a1473941afe877e8694f4'), 'Name': 'Vishal'}
{'_id': ObjectId('646a1473941afe877e8694f5'), 'Name': 'Bhola'}

In [20]:
# find_one()
coll_pwskills.find_one()

{'_id': ObjectId('646642a129c63e5fbf2ba1a3'),
 'name': 'Trimal',
 'college': 'NIST',
 'year': '2nd year'}

In [ ]:
"""Q5. Explain how you can use the find() method to query the MongoDB database.
        Write a simple code to demonstrate this?"""

Ans.
    In mongoDB, the find() method is used to fetch a particular data from the table.
    it is used to select data in a table. It is also used to return all events to the selected data.
    The find() method consists of two parameters by which we can find a particular record.

In [21]:

for i in coll_pwskills.find({"rating":{"$gte":"9.0"}}):
    print(i)

{'_id': ObjectId('64664a1c29c63e5fbf2ba1b7'), 'id': 101, 'name': 'Shree sir', 'rating': '9.4'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b8'), 'id': 102, 'name': 'P.K jena', 'rating': '9.6 * '}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b9'), 'id': 103, 'name': 'Swatanjali', 'rating': '9.1'}

In [ ]:
"""Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB?"""

Ans.
    The sort() Method: To sort documents in MongoDB, you need to use sort() method.
    The method accepts a document containing a list of fields along with their sorting order.
    To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

In [23]:
for i in coll_pwskills.find().sort("Name"):
    print(i)

{'_id': ObjectId('646642a129c63e5fbf2ba1a3'), 'name': 'Trimal', 'college': 'NIST', 'year': '2nd year'}
{'_id': ObjectId('6466438929c63e5fbf2ba1a4'), 'skill': 'Data Science', 'mail': 'trimal234@gmail.com', 'phone no.': 9876543210}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b7'), 'id': 101, 'name': 'Shree sir', 'rating': '9.4'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b8'), 'id': 102, 'name': 'P.K jena', 'rating': '9.6 * '}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1b9'), 'id': 103, 'name': 'Swatanjali', 'rating': '9.1'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1ba'), 'id': 104, 'name': 'Manjusri', 'rating': '7.3'}
{'_id': ObjectId('64664a1c29c63e5fbf2ba1bb'), 'id': 105, 'name': 'pranya', 'rating': '6.9'}
{'_id': ObjectId('646a13e0941afe877e8694d1'), 'name': 'Trimal', 'college': 'NIST', 'year': '2nd year'}
{'_id': ObjectId('646a146f941afe877e8694e4'), 'name': 'Trimal', 'college': 'NIST', 'year': '2nd year'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a6'), 'Name': 'Avinash'}
{'_id': ObjectId('646a1406941afe877e8694d3'), 'Name': 'Avinash'}
{'_id': ObjectId('646a1473941afe877e8694e6'), 'Name': 'Avinash'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ad'), 'Name': 'Ayush'}
{'_id': ObjectId('646a1406941afe877e8694da'), 'Name': 'Ayush'}
{'_id': ObjectId('646a1473941afe877e8694ed'), 'Name': 'Ayush'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b5'), 'Name': 'Bhola'}
{'_id': ObjectId('646a1406941afe877e8694e2'), 'Name': 'Bhola'}
{'_id': ObjectId('646a1473941afe877e8694f5'), 'Name': 'Bhola'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ac'), 'Name': 'Divijay'}
{'_id': ObjectId('646a1406941afe877e8694d9'), 'Name': 'Divijay'}
{'_id': ObjectId('646a1473941afe877e8694ec'), 'Name': 'Divijay'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a9'), 'Name': 'Kartik'}
{'_id': ObjectId('646a1406941afe877e8694d6'), 'Name': 'Kartik'}
{'_id': ObjectId('646a1473941afe877e8694e9'), 'Name': 'Kartik'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b3'), 'Name': 'Paresh'}
{'_id': ObjectId('646a1406941afe877e8694e0'), 'Name': 'Paresh'}
{'_id': ObjectId('646a1473941afe877e8694f3'), 'Name': 'Paresh'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a8'), 'Name': 'Pawan'}
{'_id': ObjectId('646a1406941afe877e8694d5'), 'Name': 'Pawan'}
{'_id': ObjectId('646a1473941afe877e8694e8'), 'Name': 'Pawan'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ab'), 'Name': 'Raka'}
{'_id': ObjectId('646a1406941afe877e8694d8'), 'Name': 'Raka'}
{'_id': ObjectId('646a1473941afe877e8694eb'), 'Name': 'Raka'}
{'_id': ObjectId('646645da29c63e5fbf2ba1ae'), 'Name': 'Rohit'}
{'_id': ObjectId('646a1406941afe877e8694db'), 'Name': 'Rohit'}
{'_id': ObjectId('646a1473941afe877e8694ee'), 'Name': 'Rohit'}
{'_id': ObjectId('646645da29c63e5fbf2ba1aa'), 'Name': 'Sagar'}
{'_id': ObjectId('646a1406941afe877e8694d7'), 'Name': 'Sagar'}
{'_id': ObjectId('646a1473941afe877e8694ea'), 'Name': 'Sagar'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a7'), 'Name': 'Sai ashish'}
{'_id': ObjectId('646a1406941afe877e8694d4'), 'Name': 'Sai ashish'}
{'_id': ObjectId('646a1473941afe877e8694e7'), 'Name': 'Sai ashish'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b1'), 'Name': 'Siba'}
{'_id': ObjectId('646a1406941afe877e8694de'), 'Name': 'Siba'}
{'_id': ObjectId('646a1473941afe877e8694f1'), 'Name': 'Siba'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b0'), 'Name': 'Subham'}
{'_id': ObjectId('646a1406941afe877e8694dd'), 'Name': 'Subham'}
{'_id': ObjectId('646a1473941afe877e8694f0'), 'Name': 'Subham'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b2'), 'Name': 'Sunil'}
{'_id': ObjectId('646a1406941afe877e8694df'), 'Name': 'Sunil'}
{'_id': ObjectId('646a1473941afe877e8694f2'), 'Name': 'Sunil'}
{'_id': ObjectId('646645da29c63e5fbf2ba1af'), 'Name': 'Suresh'}
{'_id': ObjectId('646a1406941afe877e8694dc'), 'Name': 'Suresh'}
{'_id': ObjectId('646a1473941afe877e8694ef'), 'Name': 'Suresh'}
{'_id': ObjectId('646645da29c63e5fbf2ba1a5'), 'Name': 'Trimal'}
{'_id': ObjectId('6466472d29c63e5fbf2ba1b6'), 'Name': 'Trimal', 'D.O.B': 0.007984031936127744, 'certificates': [{'10th': 'HSE'}, {'12th': 'CHSE'}, {'Degree': 'BPUT'}]}
{'_id': ObjectId('646a1406941afe877e8694d2'), 'Name': 'Trimal'}
{'_id': ObjectId('646a1473941afe877e8694e5'), 'Name': 'Trimal'}
{'_id': ObjectId('646645da29c63e5fbf2ba1b4'), 'Name': 'Vishal'}
{'_id': ObjectId('646a1406941afe877e8694e1'), 'Name': 'Vishal'}
{'_id': ObjectId('646a1473941afe877e8694f4'), 'Name': 'Vishal'}

In [ ]:
"""Q7. Explain why delete_one(), delete_many(), and drop() is used."""

Ans.
delete_ONE(): To delete a record, or document as it is called in MongoDB, we use the deleteOne() method.
              The first parameter of the deleteOne() method is a query object defining which document to delete.
    
delete_many():  If the filter is an empty document {} , the deleteMany() method will delete all 
                documents from the collection.
    
drop(): drop() method is used to drop a collection from a database. 
        It completely removes a collection from the database and does not leave
        any indexes associated with the dropped collections.